<ul>
  <li
    *ngFor="let employee of employees$ | async"
    (click)="remove(employee.id)">
    {{ employee.id }} - {{ employee.firstName }} {{ employee.lastName }} - {{ employee.role }}
  </li>

  <form #f="ngForm" (ngSubmit)="addEmployee()">
    <div>
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" id="firstName" [(ngModel)]="newEmployee.firstName">
    </div>

    <div>
      <label for="firstName">Last name:</label>
      <input type="text" name="lastName" id="lastName" [(ngModel)]="newEmployee.lastName">
    </div>

    <div>
      <label for="firstName">Role:</label>
      <input type="text" name="role" id="role" [(ngModel)]="newEmployee.role">
    </div>

  </form>

  <button (click)="addEmployee()">Add employee</button>
</ul>
